.sidebar{
    position: fixed;
    top: 50px;
}

.avatar{
    font-size: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.playerChoice{
    display: flex;
    gap: 50px;
}

.instruction{
    width: 500px;
    font-size: 30px;
}

.next{
    display: none;
    background-color: whitesmoke;
    height: 50px;
    width: 100px;
    font-size: larger;
}

.game-container{
    display: none;
}

.game{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 60px;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
    margin: 0;
}

.smallcontainer{
    position: static;
    background-color: aqua;
    height: 100px;
    width: 100px;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
    font-size: 60px;
}

.smallcontainer:hover{
    opacity: 0.8;
}

.reset{
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(254, 90, 90);
    box-shadow: -10px 5px 10px rgb(99, 99, 99);
    margin: 0;
}

.reset:active{
    box-shadow: none;
    margin-left: -10px;
}

.nopointer{
    pointer-events: none;
}